* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: 220px;
}
.col {
  margin: auto;
  margin-bottom: 5%;
  margin-top: 3%;
}
button {
  background: #0271d1;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 19px;
  border-radius: 5px;
}
button:hover {
  background: #1d5e96;
}
